/* .App {
  text-align: center;
}


.body {
 
 
} */

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  /* position: absolute; */
}

.space-links{
 transition: 0.3s;
}
.space-links:hover {
   letter-spacing: 2px;
}
.button-gap{
  transition: 0.3s;
}
.button-gap:hover {
  gap: 12px;
}


.input-container {
  position: relative;
}

.input-container input:focus {
  outline-color: #7e19af;
}

.input-container input:focus + span .icon {
  color: #7e19af;
}

.input-container textarea:focus {
  outline-color: #7e19af;
}

.input-container textarea:focus + span .icon {
  color: #7e19af;
}



